.marquee {
  margin: 0 auto;
  width: 100%; // or 100% inside a container
  height: 30px;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
  position: relative;
  
  &:before, &:after {
    position: absolute;
    top: 0;
    width: 50px;
    height: 30px;
    content: "";
    z-index: 1;
  }
  &:before {
    left: 0;
    background: linear-gradient(to right, white 5%, transparent 100%);
  }
  &:after {
    right: 0;
    background: linear-gradient(to left, white 5%, transparent 100%);
  }
}

.marquee__content {
  width: 120% !important; /*jarak antar tulisan*/
  display: flex;
  line-height: 50px;
  animation: marquee 60s linear infinite forwards; /*kecepatan text*/
  &:hover {
    animation-play-state: paused;
  } 
}

.list-inline {
  display: flex;
  justify-content: space-around;
  width: 100%; /*jangan rubah ini*/
  
  /* reset list */
  list-style: none;
  padding: 0;
  margin: 0;
}
@keyframes marquee {
  0% { transform: translateX(0); }
  100% { transform: translateX(-66.6%); }
}